definition.dtd

<!ELEMENT movie (title,director,genre,release_date,duration,production)>
<!ELEMENT title (#PCDATA)>
<!-- <!ELEMENT director (#PCDATA)> -->
<!ELEMENT genre (#PCDATA)>
<!ELEMENT release_date (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT production (#PCDATA)>
<!ELEMENT director (firstname, lastname, birth_date, birth_city)>
<!ELEMENT firstname (#PCDATA)>
<!ELEMENT lastname (#PCDATA)>
<!ELEMENT birth_date (#PCDATA)>
<!ELEMENT birth_city (#PCDATA)>